.htmlContent{
  width: 50%;
  height: 408px;
  border: 1px solid #dddddd;
  background-color: rgba(255, 255, 255, 0.637);
  padding-left: 1%;
  padding-right: 1%;
  word-wrap:break-word;
}
.largeWidth{
  width: 80px;
  margin-left: 20px;
  // line-height: 38px;
  margin-top: 0;
}
